<div class="login_content" style="overflow: auto;">
    <div class="login_content_box p-d-flex p-jc-center">
        <h1>Bienvenidos</h1> <br>

        <div class="grid mb-2">
            <div class="p-field col-12">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input">Username</label>
                </span>
            </div>
        </div>

        <div class="grid mb-2">
            <div class="p-field col-12">
                <span class="p-float-label">
                    <input id="float-input" type="password" pInputText> 
                    <label for="float-input">Password</label>
                </span>
            </div>
        </div>
        <div class="grid p-jc-center mb-2">
            <div class="p-field col-12">
                <p-button>Ingresar</p-button>
            </div>
        </div>
    </div>
</div>